{% extends 'base.html' %}
{% load static %}

{% block title %}Task {{ task.id }} details{% endblock %}
{% block menu %}
    {% include 'partial/base_menu.html' %}
    {% if not task.is_deleted %}
        {% include 'partial/detail_menu_task.html' %}
    {% endif %}
{% endblock %}
{% block content %}
    {% if task.is_deleted %}
        <h1>Page not found</h1>
    {% else %}
        <h1>Task {{ task.id }} details</h1>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ task.summary }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ task.description|linebreaks }}</h6>
            <p class="card-text">{{ task.status }}</p>
            <p class="card-text"><a href="{% url 'webapp:project' pk=task.project.pk %}">{{ task.project }}</a></p>
            <p class="card-text">{% for type in task.types.all %}
              {{ type.title }} {% if forloop.last %}.{% else %},{% endif %}
              {% endfor %}</p>
          </div>
        </div>
    {% endif %}
{% endblock %}