{% extends 'base.html' %}
{% load static %}


{% block content %}
  <h1>Projects list</h1>
  <div>
      {% include 'partial/simple_search.html' %}
  </div>
  {% if is_paginated %}
    {% include 'partial/pagination.html' %}
  {% endif %}
  <ul class="list-group">
    {% for project in projects %}
      <li class="list-group-item">
        <p><b><a href="{% url 'webapp:project' pk=project.pk %}">{{ project.title }}</a></b></p>
        <p>{{ project.description }}</p>
        <div class="d-flex mt-1">
          <a href="{% url 'webapp:update_project' pk=project.pk %}" class="btn btn-dark me-1">Update</a>
          <a href="{% url 'webapp:delete_project' pk=project.pk %}" class="btn btn-danger">Delete</a>
        </div>
      </li>
    {% empty %}
    <p>No projects</p>
    {% endfor %}
  </ul>
{% endblock %}